@import "../../theme/dorkside.theme.scss";

.projets {
  .projet {
    position: relative;
    padding: 16px 32px;

    &::before {
      content: '';
      background-color: mat-color($mat-blue-grey, 200);
      border-radius: 50%;
      position: absolute;
      left: -2px;
      transform: translateX(-50%);
      top: 12px;
      height: 24px;
      width: 24px;
      border: solid 3px black;
    }
  }
}
