<ng-container *ngFor="let employer of employers">
  <section class="employers">
    <article class="employer" fxLayout="column" fxLayoutGap="8px">
      <h2>
        {{employer.name}}
        <small>&nbsp;({{employer.years()}})</small>
      </h2>
      <h3>{{employer.poste}}</h3>
      <p>{{employer.description}}</p>
    </article>
  </section>

  <mat-accordion class="projets">
    <article class="projet" fxLayout="column" fxLayoutGap="8px">
      <mat-expansion-panel *ngFor="let project of employer.projects">
        <mat-expansion-panel-header>
          <div class="header-content" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-panel-title fxFlex>
              {{project.title}}
            </mat-panel-title>
            <mat-panel-description fxFlex="0 0 auto">
              <mat-chip-list fxLayoutAlign="end">
                <mat-chip *ngIf="project.client">{{project.client}}</mat-chip>
              </mat-chip-list>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <mat-chip-list>
          <mat-chip *ngIf="project.poste">{{project.poste}}</mat-chip>
        </mat-chip-list>
      </mat-expansion-panel>
    </article>
  </mat-accordion>
</ng-container>
