@import "../../theme/dorkside.theme.scss";

:host {
  overflow: visible;
}

::ng-deep.projets {
  .projet {
    position: relative;
    padding: 16px 32px;

    .mat-expansion-panel-header-description {
      display: block;
      text-align: right;
    }
  }
}
