<section class="projets">
  <mat-accordion>
    <article class="projet" fxLayout="column" fxLayoutGap="8px">
      <h3>UI/UX</h3>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Skill name
          </mat-panel-title>
          <mat-panel-description>
            description
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem Ipsum dolor</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Skill name
          </mat-panel-title>
          <mat-panel-description>
            description
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem Ipsum dolor</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Skill name
          </mat-panel-title>
          <mat-panel-description>
            description
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem Ipsum dolor</p>
      </mat-expansion-panel>
    </article>
  </mat-accordion>
</section>
