<section class="skills" *mobxAutorun>
  <mat-accordion>
    <ng-container fxLayout="column" *ngFor="let skillCategory of skillCategories">
      <h3>{{skillCategory.name}}</h3>
      <mat-expansion-panel *ngFor="let skill of skillCategory.skills">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{skill.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Associated projects (coming soon...)</p>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</section>
