@import "../theme/dorkside.theme.scss";

.app {
  width: 100%;
  min-height: 100%;
}

.container {
  min-height: 100vh;
  padding-top: 64px;
}

::ng-deep.scrollbar {
  .ps__rail-y {
    z-index: 10;
  }
}

* {
  color: white;
}

.title {
  z-index: 2;
  line-height: 64px !important;
  height: 100%;
  font-family: 'Comfortaa', cursive !important;

  &.small {
    position: absolute;
    font-weight: 100 !important;
    left: 144px !important;
    transform: translateX(-50%);
  }
}

.toolbar {
  border-top: solid 3px black;
}

.avatar {
  background-color: mat-color($mat-blue-grey, 400);
  z-index: 3;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-left: dotted 3px black;
}
