@import "../theme/dorkside.theme.scss";

.app {
  width: 100%;
  min-height: 100%;
}

.container {
  min-height: 100vh;
}

::ng-deep.scrollbar {
  .ps__rail-y {
    z-index: 10;
  }
}

* {
  color: white;
}

.header-image {
  min-height: 50vh;
  background-color: mat-color($mat-blue-grey, 900);
  position: relative;

  .wip {
    height: 300px;
    max-height: 30vh;
  }

  .wip-title {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    color: #ff8f00;
  }
}

.title {
  z-index: 2;
  font-family: 'Comfortaa', cursive !important;

  &.small {
    position: absolute;
    font-weight: 100 !important;
    left: 144px !important;
    transform: translateX(-50%);
  }
}

.toolbar {
  border-top: solid 3px black;
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 2;

  .main-menu {
    padding-top: 0;
    height: 100%;

    a {
      height: 100%;
      transition: border 225ms ease-in-out;
      font-family: 'Quicksand', sans-serif !important;
      border-bottom: solid 0px black;
    }

    a.active {
      border-bottom: solid 3px black;
    }
  }
}

.avatar {
  background-color: mat-color($mat-blue-grey, 400);
  z-index: 3;
}

.content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-left: dotted 3px black;
}
