/* You can add global styles to this file, and also import other style files */
@import "/theme/dorkside.theme.scss";

html,
body {
  height: 100%;
  background-color: mat-color($mat-blue-grey, 900);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive !important;
}

a {
  transition: color 350ms ease-in-out;
  color: mat-color($mat-amber, 800);
}

a:hover {
  color: mat-color($mat-amber, 400);
}
